@use '@angular/material' as mat;

@tailwind base;
@tailwind components;
@tailwind utilities;

@include mat.strong-focus-indicators();

:root {
  @include mat.paginator-overrides((
    container-background-color: #F8F9FA,
  ));
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

//https://github.com/tailwindlabs/tailwindcss/discussions/9993
.mat-mdc-form-field.mat-mdc-form-field.mat-mdc-form-field.mat-mdc-form-field.mat-mdc-form-field .mdc-notched-outline__notch {
  border-right-style: hidden;
}
.mat-mdc-input-element {
  box-shadow: none !important;
}

//https://github.com/angular/components/issues/27337
mat-form-field:has(input:-webkit-autofill) {
  --mdc-filled-text-field-container-color: #e8f0fe;

  input:-webkit-autofill {
    -webkit-background-clip: text;
    -webkit-text-fill-color: var(--mdc-filled-text-field-input-text-color);
  }
}



